@using Basyc.MessageBus.Manager.Application.Requesting;
@using ReactiveUI.Blazor;

@inherits ReactiveComponentBase<SidebarHistoryViewModel>

<h3>SidebarHistory</h3>
@foreach (var item in SidebarHistoryViewModel.History)
{
    
}


@code {
    //[Inject] private IRequestManager requestManager { get; set; } = null!;

    [Inject]
    public SidebarHistoryViewModel SidebarHistoryViewModel
    {
        get => ViewModel.Value();
        set => ViewModel = value;
    }

    public SidebarHistory()
    {
    }

    protected override void OnInitialized()
    {
        
    }
}
