horizontalUnknownDurationBoxView {
    display: block;
    overflow: hidden;
    height: 1.4rem;
}

horizontalUnknownDurationBoxView:hover {
    background-color: #436b74a8;
}

unknownDurationLineContainer {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}

unknownDurationLine {
    background-color: #19528699;
    height: 1px;
    width: 100%;
}





