@import "../../../Shared/Colors.scss";


horizontalDurationBoxView {
    display: grid;
    grid-template-rows: min-content min-content;
}


durationBox {
    box-sizing: border-box;
    grid-row: 1;
    float: left;
    position: relative;
    border-radius: 2px;
    border: 1px solid #1A2D41;
    background-color: #2676D10D;
    display: grid;
    /*align-items: end;*/
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    /*overflow: clip;*/
    width: calc(var(--timeSpanCss) * var(--pixelsPerMs) * 1px);
    transition: width 150ms cubic-bezier(.4,0,.2,1) 0ms;
}

durationBox:hover {
    background-color: #436b74a8;
}

stickyContainer {
    grid-row: 1;
    grid-column: 1;
    display: flex;
    flex-direction: row;
    position: sticky;
    left: 96px;
    justify-self: flex-start;
    overflow: hidden;
}

nestedDurationBoxes {
    display: flex;
    flex-direction: column;
    grid-row: 2;
    min-height: 0px;
    gap: 0px;
    margin-top: -0.85px; //Merging parent border. Shoudl be a half of the duratiob box border
}

spinner {
    display: flex;
    justify-content: start;
    align-items: center;
    /*grid-row: 1;*/
    grid-column: 2;

    ::deep .mud-progress-circular {
        height: 16px;
        width: 16px;
    }
}

acitvityName {
    display: grid;
    min-width: 0px;
    grid-auto-columns: 1fr auto;
    height: 100%;
    overflow: hidden;
    overflow-wrap: break-word;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0.3rem;
    line-height: 0.8rem;
    color: #c7c7c7bf;
    //This makes elipsis working
    //This make sticky not working
    /*width: calc(var(--timeSpanCss) * var(--pixelsPerMs) * 1px);*/
}

acitvityDisplayName {
    display: block;
    grid-column: 1;
    min-width: 0px;
    overflow: hidden;
    overflow-wrap: break-word;
    white-space: nowrap;
    text-overflow: ellipsis;
}

toolTipContent {
    display: block;
    width: 100%;
    text-align: left;
}

nestedRows {
    display: flex;
    position: relative;
}

nestedRow {
    display: inline-flex;
    flex-direction: row;
}

unknownAndKnowGroup {
    display: flex;
    flex-direction: row;
}

treeLeg {
    display: flex;
    width: 5px;
    position: absolute;
    /*margin-left: -5px;*/
}

treeHorizontalLine {
    display: block;
    height: calc(0.7rem + 1px);
    border-bottom: 2px solid #3c3c3c;
    border-left: 2px solid #3c3c3c;
    width: 100%;
}


/*logs {
    grid-column: 1;
    grid-row: 1;*/
/*    display: grid;
    align-items: end;*/
/*display: flex;
    flex-direction: column;*/
/*flex-direction: row;
    max-width: 500px;*/
/*position: absolute;*/
/*max-height: 100px;*/
/*rotate: 90deg;*/
/*    transform: rotate(90deg);
    width: 10px;
    height: 250px;
    background-color: #ff00008c;*/
/*justify-content: end;*/
/*height: 10px;
}*/



rowSplitter {
    height: 0.5rem;
    width: 1rem;
}
