@import "../../Shared/Colors.scss";


message {
    color: #d1d1d1;
}

logEntryView {
    display: block;
    color: white;
    padding: 8px 16px;
    background-color: #0F0F15;
}

logEntryView:hover {
    background-color: #626262;
}


/*.logEntryView--alternate {
    background-color: #00000000;
}*/

level {
    display: inline;
    padding: 0px;
}

time {
    margin-left: 16px;
    color: #ffffff74;
}

serviceName {
    display: inline-flex;
    align-items: center;
    min-width: 0px;
    min-height: 0px;
    width: 5rem;
    color: white;
    padding: 0rem 0.4rem;
    border-radius: 2px;
    margin-right: 0.3rem;
}

activityName {
    @extend serviceName;
}

serviceName > * {
    min-width: 0;
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}



.level--Debug {
    color: $Log-Debug-Foreground;
}

.level--Information {
    color: $Log-Information-Foreground;
}

.level--Warning {
    background-color: $Log-Warning-Background;
}

.level--Error {
    background-color: $Log-Error-Background;
}
