logWindowView {
    display: flex;
    flex-direction: column;
    flex: 1;
    font-family: Consolas;
    min-height: 0px;
}

logs {
    display: block;
    display: flex;
    flex-direction: column;
    row-gap: 3px;
    min-height: 0px;
    overflow-y: auto;
    overflow: hidden;
    flex: 1;
}
toolBar{
    display: flex;
    color: white;
    margin-bottom: 4px;
}

filterBase {
    display: flex;
    align-items: center;
    justify-content: center;
}

filterLogLevel {
    @extend filterBase;
    /*width: 2.5rem;*/
    /*margin-left: 0rem;*/
}

filterService {
    @extend filterBase;
    /*width: 5rem;*/
}
