logWindowView {
    display: flex;
    flex-direction: column;
    flex: 1;
    font-family: Consolas;
    height: 40rem;
}

logs {
    display: block;
    display: flex;
    flex-direction: column;
    row-gap: 3px;
    overflow-y: auto;
}
toolBar{
    display: flex;
    color: white;
}

filterBase {
    display: flex;
    align-items: center;
    justify-content: center;
}

filterLogLevel {
    @extend filterBase;
    width: 2.5rem;
    margin-left: 0rem;
}

filterService {
    @extend filterBase;
    width: 5rem;
}
