$Request-Tag-Query-Foreground: #4FAB77;
$Request-Tag-Query-Background: #FCFFFD;
$Request-Tag-Query-Alternative-Background: #EBF2ED;

$Request-Tag-Command-Foreground: #D84292;
$Request-Tag-Command-Background: #FFFCFE;
$Request-Tag-Command-Alternative-Background: #f9eff5;

$Request-Tag-Generic-Foreground: #5680B1;
$Request-Tag-Generic-Background: #FCFEFF;
$Request-Tag-Generic-Alternative-Background: #eff2f9;

//Validation States
$Error-Foreground: #D66A6A;
/*$Error-Background: #FFFBFB;*/
$Error-Background: #F9EFF5;
$Success-Foreground: #5EAB5E;
$Success-Background: #EBF2ED;
$Information-Background: #2626260e;
//

//Log Colors
$Log-Debug-Foreground: #B1B1B1;
$Log-Information-Foreground: #B1B1B1;
$Log-Warning-Background: #AE8C59;
$Log-Error-Background: #AE5959;
//
