tooltipView {
  position: relative;
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  z-index: 1000;
  overflow: visible;
}

tooltip {
  display: block;
  grid-row: 1;
  grid-column: 1;
  z-index: 1000;
  overflow: visible;
}

childContent {
  display: block;
  grid-row: 1;
  grid-column: 1;
}
