tooltipView {
  position: relative;
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  overflow: visible;
}

tooltip {
  /*    display: none;
  visibility: collapse;*/
  grid-row: 1;
  grid-column: 1;
  z-index: 1001;
  overflow: visible;
}

childContent {
  display: block;
  grid-row: 1;
  grid-column: 1;
}

::deep .tooltip--hidden {
  display: none !important;
  visibility: collapse !important;
}

::deep .tooltip--visible {
  display: block !important;
  visibility: visible !important;
}
