busManager {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    overflow: hidden;
    font-family: "Segoe UI";
    background-color: #0C0B10;
}

sideBar {
    flex-shrink: 0;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
}


messagePage {
    flex: 100;
}


.styleSharedDefaults {
    .headingDefalts {
        font-weight: 300;
        /*margin-top: 2em;*/
        /*margin-bottom: 1em;*/
    }

    h1 {
        @extend .headingDefalts;
    }

    h2 {
        @extend .headingDefalts;
    }

    h3 {
        @extend .headingDefalts;
        font-size: 18px;
    }

    button {
        background-color: #D1266620;
        border: 0.5px solid #9E184A80;
        font-family: "Segoe UI";
        font-weight: 300;
        color: #C2BEC2;
        font-size: 16px;
        padding: 1px 32px;
        text-transform: lowercase;
        border-radius: 3px;
        display: flex;
    }

    button:hover {
        background-color: rgba(254, 150, 189, 0.22) !important;
    }
}

::deep .style1 {
    @extend .styleSharedDefaults;
    font-weight: 300;
    color: #7a657d;
}

::deep .style2 {
    @extend .styleSharedDefaults;
    background-color: #08080B;
    color: rgba(194, 197, 212, 0.4);
    font-weight: 300;




}     
