index {
    display: flex;
    align-items: center;
    width: 30px;
}

loggingRow {
    display: flex;
    align-content: center;
}

itemBody {
    display: flex;
    align-content: center;
}

sidebarHistoryItemView {
    padding: 8px 0px;
    display: block;
    border: 0.5px solid transparent;
}

.sidebarHistoryItemView--selected {
    background-color: #20091A;
}

::deep logIcon {
    display: flex;
    width: 10px;
    height: 10px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 8px;
}


logIconInfo {
    @extend logIcon;
    background-color: #B1B1B1;
}

logIconWarning {
    @extend logIcon;
    background-color: #AE8C59;
}

logIconError {
    @extend logIcon;
    background-color: #AE5959;
}

.headingRowClass--started{

}

.headingRowClass--completed {
    color: #5CAE59;
}

.headingRowClass--failed {
    color: #AE5959;
}
