@using Basyc.MessageBus.Manager.Application;
@using Basyc.MessageBus.Manager.Presentation.BlazorLibrary.Shared.Helpers.Html;
@using Basyc.MessageBus.Manager.Presentation.BlazorLibrary.Shared.Navigation;
@using Basyc.ReactiveUi.Blazor;
@using MudBlazor.Utilities;
@inherits BasycReactiveBlazorComponentBase<SidebarHistoryItemViewModel>

<sidebarHistoryItemView class="@classToRender">
    <BasycSpaceBorder Size="SpacerSize.Medium" ShrinkTopBottom="true">
        <MudStack Row="true" AlignItems="AlignItems.Stretch">
            <index>
                #@Index
            </index>
            <itemBody>
                <MudStack>
                    <div>
                        @ViewModel.State
                        @Html.Time(ViewModel.Duration)
                    </div>
                    <div>
                        [] @ViewModel.LogsCount
                    </div>
                </MudStack>
            </itemBody>
        </MudStack>
    </BasycSpaceBorder>

</sidebarHistoryItemView>

@code {
    [Parameter, EditorRequired] public NavigationService NavigationService { get; set; } = null!;
    [Parameter, EditorRequired] public MessageRequest MessageRequest { get; set; } = null!;
    [Parameter, EditorRequired] public int Index { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
    private string classToRender = "";

    protected override void OnParametersSet()
    {
        ViewModel.MessageRequest = MessageRequest;
        ViewModel.NavigationService = NavigationService;
        base.OnParametersSet();
        classToRender = new CssBuilder()
             .AddClass("sidebarHistoryItemView--selected", ViewModel.IsSelected)
             .Build();
    }
}
