durationBox {
    display: block;
    border: 1.7px solid #628E8E;
    width: 1rem;
    min-width: 1rem;
    background-color: #CDD8D8;
    position: relative;
}

durationBox:hover  {
    background-color: #b7cccc;
}

nestedContent {
    display: grid;
    margin-left: 0.5rem;
    grid-template-rows: 1fr auto;
}

segmentName {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-height: 1rem;
}

segmentNameContainer {
    display: flex;
    align-items: center;
    padding-left: 0.2rem;
    padding-bottom: 0.3rem;
    padding-top: 0.3rem;
}

durationBoxContainer {
    display: grid;
    grid-template-columns: auto 100fr;
}

/*unknownDurationLine {
    display: block;
    background-color: #81a7a7;
    width: 2px;
    height: 100%;
    margin-left: 0.44rem;
}*/

/*unknownDurationContainer {
    position: relative;
    display: block;
    min-height: 0.3rem;
    background-color: transparent;
    width: 1rem; //Same as durationbox
}*/

/*unknownDurationContainer:hover {
    background-color: #b7cccc;
}*/

durationBoxDuration {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #5f8787;
    font-weight: 500;
    transform: translateX(-50%) translateY(-50%) rotate(-90deg);
}

durationContainer {
    max-height: 100%;
    height: 100%;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltiptext {
    visibility: hidden;
    width: 15rem;
    height: 7rem;
    background-color: #CDD8D8;
    color: #5f8787;
    border: 1.7px solid #628E8E;
    padding: 0.4rem;
    position: absolute;
    left: 2rem;
    top: 0px;
    bottom: 0px;
    min-height: 5rem;
    z-index: 1;
    display: flex;
    flex-direction: column;
}

/*toolTipDurationName {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-height: 1rem;
    -webkit-line-clamp: 2;
    line-clamp: 2;
}*/

/*toolTipDurationDuration{

}*/

durationBox:hover .tooltiptext {
    visibility: visible;
}

/*unknownDurationContainer:hover .tooltiptext {
    visibility: visible;
}*/
