basycSpaceBorder {
  display: block;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.spacer-topBottom--small {
  margin-top: var(--space-small);
  margin-bottom: var(--space-small);
}

.spacer-topBottom--medium {
  margin-top: var(--space-medium);
  margin-bottom: var(--space-medium);
}

.spacer-topBottom--big {
  margin-top: var(--space-big);
  margin-bottom: var(--space-big);
}

.spacer-leftRight--small {
  margin-left: var(--space-small);
  margin-right: var(--space-small);
}

.spacer-leftRight--medium {
  margin-left: var(--space-medium);
  margin-right: var(--space-medium);
}

.spacer-leftRight--big {
  margin-left: var(--space-big);
  margin-right: var(--space-big);
}
