sideMenu {
    background-color: #040304;
    display: block;
    height: 100%;
    border: 0px solid rgba(255, 255, 255, 0.08);
    border-right-width: 0.5px;
    width: 280px;
}



::deep .requestPanel {
    display: flex;
    flex-direction: column;
}

domainHeading {
    margin-left: 32px;
    margin-right: 32px;
    font-weight: normal;
    font-style: italic;
    font-size: 0.85rem;
    text-align: left;
    color: #737575;
}


.itemButton {
    display: block;
    width: 100%;
}

sectionLabel {
    margin-left: 32px;
    margin-right: 32px;
    margin-top: 36px;
    margin-bottom: 18px;
    display: block;
    font-weight: 300;
    font-size: 18px;
    text-align: left;
    color: #7a657d;
}
